<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="icon" href="<%= launch_folder %>/icon.webp" type="image/x-icon">
    <script src="<%= launch_folder %>/scripts/script_1.js"></script>
</head>

<body style="background-color: rgb(63, 63, 63); color: white;">
    <h1><%= message %></h1>
</body>

</html>